In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

data_list = [23, 42, 56, 12, 65, 24, 74, 32, 85, 100]

variable = pd.Series(data_list)
print(variable)

0     23
1     42
2     56
3     12
4     65
5     24
6     74
7     32
8     85
9    100
dtype: int64

In [3]:
'''Q3. Create a Pandas DataFrame that contains the following data:

 Name     Age     Gender
------   -----   --------
Alice     25      Female
Bob       30      Male
Claire    27      Female

Then, print the DataFrame.
'''

data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}

dataframe = pd.DataFrame(data)
print(dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
'''Q4. What is 'DataFrame' in pandas and how is it different from pandas.series? Explain with an example.

Answer:- A DataFrame in Pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a table in a database, an Excel spreadsheet, or a data frame in R.
A Series, on the other hand, is a one-dimensional array-like object containing an array of data and an associated array of data labels (index). It can be thought of as a single column of data.'''

#Example:

#The Series object contains a single column of numbers with an index.
data_list = [23, 42, 56, 12, 65, 24, 74, 32, 85, 100]

series = pd.Series(data_list, name= 'Numbers')
print("Pandas Series:")
print(series)

#The DataFrame object contains three columns (Name, Age, and Gender), each with its own data type and an index.
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}

dataframe = pd.DataFrame(data)
print("\nPandas DataFrame:")
print(dataframe)

Pandas Series:
0     23
1     42
2     56
3     12
4     65
5     24
6     74
7     32
8     85
9    100
Name: Numbers, dtype: int64

Pandas DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
'''Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
Answer:- 
1. head() and tail(): These functions return the first and last n rows of the DataFrame, respectively.
2. describe(): Generates descriptive statistics of the DataFrame.
3. info(): Provides a summary of the DataFrame, including the number of non-null entries and data types of each column.
4. drop(): Removes rows or columns from the DataFrame.
5. loc[] and iloc[]: Access a group of rows and columns by labels or integer position.
6. groupby(): Groups the data based on certain columns and allows aggregation functions to be applied to each group.
7. merge() and concat(): Combine DataFrames.
8. apply(): Applies a function along an axis of the DataFrame.
9. pivot_table(): Creates a spreadsheet-style pivot table as a DataFrame.
10.fillna() and dropna(): Handle missing values by filling them or dropping them.
'''
#Example:
data = {
    'Product': ['A', 'B', 'C', 'A', 'C', 'B'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Furniture', 'Electronics', 'Furniture'],
    'Sales': [200, 100, 350, 150, 400, 250]
}

df = pd.DataFrame(data)

avg_sales_per_category = df.groupby('Category')['Sales'].mean()
print(avg_sales_per_category)

Category
Electronics    262.5
Furniture      200.0
Name: Sales, dtype: float64

In [8]:
'''Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Answer:- All three of them are mutable in nature.
-> A Series is a one-dimensional array-like object. You can modify its data, add new elements, or change its index.
-> A DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). You can modify the data, add or drop rows and columns, and change the index.
-> As of Pandas version 0.25.0, the Panel data structure has been deprecated and removed. It was a three-dimensional data structure and was also mutable, but users are encouraged to use MultiIndex DataFrames instead.
'''
#Example:
#Mutability of Series
series = pd.Series([1, 2, 3, 4, 5])
print('Original Series:')
print(series)

series[1] = 8
print('\nModified Series:')
print(series)

#Mutability of DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27]}
df = pd.DataFrame(data)
print('\nOriginal DataFrame:')
print(df)

df.loc[0, 'Age'] = 26
print("\nModified DataFrame:")
print(df)

df['Gender'] = ['Female', 'Male', 'Female']
print("\nDataFrame with new Column:")
print(df)

Original Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Modified Series:
0    1
1    8
2    3
3    4
4    5
dtype: int64

Original DataFrame:
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

Modified DataFrame:
     Name  Age
0   Alice   26
1     Bob   30
2  Claire   27

DataFrame with new Column:
     Name  Age  Gender
0   Alice   26  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])
location_series = pd.Series(['USA', 'India', 'Russia'])

# Combine the Series into a DataFrame
df = pd.DataFrame({
    'Name': name_series,
    'Age' : age_series,
    'Gender': gender_series,
    'Location' : location_series
})

print(df)

     Name  Age  Gender Location
0   Alice   25  Female      USA
1     Bob   30    Male    India
2  Claire   27  Female   Russia